<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="about">
    <table class="table table-responsive borderless">
        <thead>
        <tr>
            <th>System Information</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="aboutValue : ${aboutValues}">
            <tr>
                <td th:text="${aboutValue.key}"></td>
                <td th:text="${aboutValue.value}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>