<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <footer class="footer" th:fragment="footer">
        <script th:src="@{/components/jquery/jquery.min.js}"></script>
        <script th:src="@{/components/tether/tether.min.js}"></script>
        <script th:src="@{/components/bootstrap/js/bootstrap.min.js}"></script>
        <script th:inline="javascript" th:src="@{/js/main.js}"></script>
        <script th:inline="javascript" th:src="@{/js/navbar.js}"></script>
    </footer>
</body>
</html>