<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<link rel="stylesheet" media="screen" th:href="@{/css/settings.css}" />
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
    <main>
        <div class="container-fluid" id="page-content">
            <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxxl-6 offset-xxxl-3">
                <!-- Settings header -->
                <div class="results-container settings-header-container">
                    <div class="pull-left">
                        <h3 class="settings-header">Settings</h3>
                    </div>
                    <div class="pull-right" style="padding: 15px;">
                        <button class="btn type-button restart-button" onclick="restartApp()"><i class="fa fa-refresh"></i><span class="hidden-sm-down"> Restart</span></button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="alert" id="settings-alert" style="opacity: 0.8; display: none;"></div>
                <div class="row" style="margin-left: 0;margin-right: 0;">
                    <!-- Settings Navigation List -->
                    <div class="col-12 col-md-4 col-xxl-3 col-xxxl-2 results-container settings-container" id="settingsNav">
                        <ul class="list-group hidden-sm-down" id="settings-menu">
                            <li class="list-group-item" th:classappend="${settingType == 'about'} ? 'settings-selected' : ''" onclick="goToSetting('about', this)">About</li>
                            <li class="list-group-item" th:classappend="${settingType == 'network'} ? 'settings-selected' : ''" onclick="goToSetting('network', this)">Network</li>
                            <li class="list-group-item" th:classappend="${settingType == 'connections'} ? 'settings-selected' : ''" onclick="goToSetting('connections', this)">Connections</li>
                            <li class="list-group-item" th:classappend="${settingType == 'users'} ? 'settings-selected' : ''" onclick="goToSetting('users', this)">Users and Invites</li>
                        </ul>
                        <div class="dropdown hidden-md-up">
                            <button class="btn dropdown-toggle settings-dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span th:text="${settingType}" style="text-transform: capitalize"></span>
                            </button>
                            <div class="dropdown-menu settings-dropdown" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" onclick="goToSetting('about')">About</a>
                                <a class="dropdown-item" onclick="goToSetting('network')">Network</a>
                                <a class="dropdown-item" onclick="goToSetting('connections')">Connections</a>
                                <a class="dropdown-item" onclick="goToSetting('users')">Users and Invites</a>
                            </div>
                        </div>
                    </div>
                    <!-- Settings Content -->
                    <div class="col-12 col-md-8 col-xxl-9 col-xxxl-10 settings-content-parent">
                        <div class="settings-item-container">
                            <div class="settings-content">
                                <h3 th:text="${settingsTitle}"></h3>
                                <p th:text="${settingsSubTitle}"></p>
                                <th:block th:switch="${settingType}">
                                    <th:block th:case="'about'"><div th:replace="fragments/settings/about :: about"></div></th:block>
                                    <th:block th:case="'network'"><div th:replace="fragments/settings/network :: network"></div></th:block>
                                    <th:block th:case="'connections'"><div th:replace="fragments/settings/connections :: connections"></div></th:block>
                                    <th:block th:case="'users'"><div th:replace="fragments/settings/users :: users"></div></th:block>
                                </th:block>
                                <div style="padding-bottom: 30px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:inline="javascript" th:src="@{/js/settings.js}"></script>
</body>
</html>