.settings-header {
    line-height: 62px;
    padding-left: 15px;
    font-size: 1.65rem;
}

.restart-button, .shutdown-button {
    width: auto;
}

.settings-header-container {
    margin-bottom: 15px;
}
.settings-container {
    margin-top: 0;
    padding: 0;
    margin-bottom: 15px;
}
.settings-item-container {
    margin-right: -15px;
}
#settings-menu {
    margin-top: 1px;
    margin-bottom: 1px;
}
#settings-menu > .list-group-item {
    background: #282828;
    color: rgba(220,220,220,0.8);
    border: 1px solid rgba(255,255,255,.1);
    border-top: 0;
    border-bottom: 2px dotted rgba(100,100,100,.2);
}
#settings-menu > .list-group-item:first-child {
    border-top: 1px;
}
#settings-menu > .list-group-item:last-child {
    border-bottom: 1px;
}
#settings-menu > .list-group-item:hover {
    cursor: pointer;
    background: #2f2f2f;
    color: #f5f5f5
}
.settings-selected {
    color: #f9be2b!important;
}
.settings-content {
    padding: 0;
    margin-left: -10px;
}
.settings-dropdown-button {
    width: 100%;
    color: #f9be2b;
    background: #282828;
    border: 1px solid rgba(255,255,255,.1);
}
.settings-dropdown-button:focus {
    -webkit-box-shadow: 0 0 0 1px rgba(236, 201, 31, 0.12);
    box-shadow: 0 0 0 1px rgba(236, 201, 31, 0.12);
}
.settings-content-parent {
    padding: 0;
}
.settings-dropdown {
    width: 100%;
    background: #282828;
    color: rgba(220,220,220,0.8);
    margin-top: 0;
}
.settings-save {
    margin-top: 10px;
}
.users-card-header {
    background: #282828;
}
.users-card-title {
    color: rgba(220,220,220,0.8);
}
.users-card-title:hover, .users-card-title:focus {
    color: #f5f5f5;
    text-decoration: none;
}
.user-invite-button {
    width: auto;
    height: 32px;
    font-size: .75rem;
    margin-top: -5px;
    margin-bottom: -5px;
}
.borderless td, .borderless th {
    border: none!important;
}
/* Scrollbar */
.borderless::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #282828;
}
.borderless::-webkit-scrollbar {
    width: 6px;
    background-color: #1f1f1f;
}
.borderless::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    background-color: #414141;
}